<h1>Productos:</h1>
<form>
    <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Title...">
    </div>
    <div>
    <label for="description">Description</label>
    <input id="description" type="text" name="description" placeholder="Description...">
    </div>
    <div>
    <label for="price">Price</label>
    <input id="price" type="number" name="price" placeholder="Price">
</div>
<div>
    <label for="thumbnail">Thumbnail</label>
    <input id="thumbnail" type="text" name="thumbnail" placeholder="Thumbnail">
</div>
<div>
    <label for="code">Code</label>
    <input id="code" type="text" name="code" placeholder="Code">
</div>
<div>
    <label for="stock">Stock</label>
    <input id="stock" type="number" name="stock"  placeholder="Stock">
</div>
<div>
    <label for="category">Category</label>
    <input id="category" type="text" name="category" placeholder="Category">
</div>
<button id="guardarProduct">Save</button>
</form>
<div class="cardContenedor">
{{#each products}}
<div class="product" id="product">
    <p>Title:{{this.title}}</p>
    <p>Description: {{this.description}}</p>
    <p>Price: {{this.price}}</p>
    <p>Thumbnail: {{this.thumbnail}}</p>
    <p>Code: {{this.code}}</p>
    <p>Stock:{{this.stock}}</p>
    <p>Status:{{this.status}}</p>
    <p>Category:{{this.category}}</p>
    <button id={{this.id}}>Eliminar</button>
</div>
{{/each}}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/main.js"></script>