<div class="container">
<div class="singleProduct">
<div class="infoProduct">
  <h1>{{product.title}}</h1>
  <p>{{product.desc}}</p>
  <p>Precio: ${{product.price}}</p>
  <p>Categoría: {{product.category}}</p>
  <button  id="addProductCart" data-id={{product._id}}>Agregar al carrito</button>
</div>
<div>
{{!-- <img src={{product.thumbnail}}> --}}
</div>
</div>
</div>